In [1]:
import pandas as pd

In [27]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
citi_bike_df = pd.read_csv('../../Documents/My Tableau Repository/Datasources/2021.4/en_US-US/201908-citibike-tripdata.csv')

In [28]:
# 2. Check the datatypes of your columns. 
citi_bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 268.3+ MB

In [29]:
# 3. Convert the 'tripduration' column to datetime datatype.
citi_bike_df['tripduration'] = pd.to_datetime(citi_bike_df['tripduration'], unit='s')

In [30]:
# 4. Check the datatypes of your columns. 
citi_bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             datetime64[ns]
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(5)
memory usage: 268.3+ MB

In [31]:
citi_bike_df.sample(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
265558,1970-01-01 00:12:26,2019-08-04 12:26:38.1160,2019-08-04 12:39:04.9620,3137.0,5 Ave & E 73 St,40.772828,-73.966853,499.0,Broadway & W 60 St,40.769155,-73.981918,33862,Customer,1990,1
2277691,1970-01-01 00:06:20,2019-08-30 22:32:30.1460,2019-08-30 22:38:50.2640,432.0,E 7 St & Avenue A,40.726218,-73.983799,293.0,Lafayette St & E 8 St,40.730207,-73.991026,39149,Subscriber,1983,1
92331,1970-01-01 00:11:32,2019-08-02 07:00:58.4720,2019-08-02 07:12:31.0850,3553.0,Frederick Douglass Blvd & W 112 St,40.801694,-73.957145,3170.0,W 84 St & Columbus Ave,40.785000,-73.972834,33827,Subscriber,1971,1
1791265,1970-01-01 00:03:56,2019-08-24 16:12:14.8420,2019-08-24 16:16:11.1650,3778.0,Irving Ave & DeKalb Ave,40.702700,-73.920950,3761.0,Cedar St & Myrtle Ave,40.697842,-73.926241,39627,Subscriber,1966,1
992252,1970-01-01 00:02:38,2019-08-13 19:39:48.2240,2019-08-13 19:42:26.3520,476.0,E 31 St & 3 Ave,40.743943,-73.979661,3687.0,E 33 St & 1 Ave,40.743227,-73.974498,25005,Subscriber,1994,2

In [32]:
# 5. Export the Dataframe as a new CSV file without the index.
citi_bike_df.to_csv('201908-citibike-tripdata.csv', index=False)

In [33]:
pd.read_csv('201908-citibike-tripdata.csv').sample(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1001432,1970-01-01 00:13:06,2019-08-13 22:25:40.1680,2019-08-13 22:38:46.5550,311.0,Norfolk St & Broome St,40.717227,-73.988021,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,33561,Subscriber,1989,1
539022,1970-01-01 00:25:45,2019-08-08 07:52:33.8290,2019-08-08 08:18:19.5100,3046.0,Marcus Garvey Blvd & Macon St,40.682601,-73.938037,239.0,Willoughby St & Fleet St,40.691966,-73.981302,39924,Customer,1969,0
163810,1970-01-01 00:02:26,2019-08-02 21:05:29.8800,2019-08-02 21:07:56.5340,368.0,Carmine St & 6 Ave,40.730386,-74.002150,383.0,Greenwich Ave & Charles St,40.735238,-74.000271,27822,Subscriber,1963,2
780728,1970-01-01 00:25:51,2019-08-11 09:12:28.1010,2019-08-11 09:38:20.0240,476.0,E 31 St & 3 Ave,40.743943,-73.979661,3733.0,Avenue C & E 18 St,40.730563,-73.973984,31643,Customer,1979,1
871546,1970-01-01 00:07:46,2019-08-12 11:29:43.5770,2019-08-12 11:37:30.3640,305.0,E 58 St & 3 Ave,40.760958,-73.967245,228.0,E 48 St & 3 Ave,40.754601,-73.971879,38068,Subscriber,1975,1